<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 style="text-align: center;"></h1>
    <form action="\submit" method="post">
        <label for="lname">lName:</label>
        <input type="text" name="lname" required><br><br>
        <label for="fname">fName:</label>
        <input type="text" name="fname" required><br><br>
        <label for="age">age:</label>
        <input type="age" name="age" required><br><br>
        <input type="submit" value="Submit">
    </form>
</body>       
</html

